*{margin: 0px;
	padding: 0px;}
.tong{width: 470px;
	height: 796px;
	margin: auto;}
.nav{width: 470px;
	height: 35px;
	float: left;
	background: #6bab20}
.left{width: 133px;
	height: 631px;
	float: left;
	background: red;}
.center1{width: 337px;
	height: 151px;
	float: left; 
	background: green;}
.center2{width: 337px;
	height: 480px;
	float: left; 
	background: yellow;}
.footer{width: 470px;
	height: 130px;
	background: #6bab20}
.clr{clear: both;}