
*{margin: auto; padding: 0px}
.tong{width: 795px;
	height: 1338px; 
	background: #fff}
.header{width: 795px;
	height: 506px;}
.menu{width: 795px;
	height: 32px; 
	float: left;}
.menu ul{list-style-type: none; background-color: #626262}
.menu ul li{display: inline; line-height: 28px; padding-left: 10px;}
.menu ul li a{color: #f25d0c; 
	text-decoration: none; 
	size: 10px;}
.menu ul li a:hover{color: #d5de17; font-weight: bold;}
.menu ul li:hover{background: #fff}
.left{width: 150px;
	height: 740px;
	background:;
	float: left;}
.left ul{list-style-type: none;}
.left ul li{padding-top: 10px;}
.left ul li a{color: black; 
	text-decoration: none;
	size: 10px;}
.left ul li a:hover{color: #f25d0c; font-weight: bold; }
.left ul li:hover{background: pink;}
.center{width: 495px;
	height: 740px;
	float: left;}
.center1{width: 470px; 
	height: 80px; 
	background: pink; 
	text-align: justify;
	padding-top: 7px;
	border-radius: 10px;}
.right{width: 150px;
	height: 740px;
	float: left; }
.right ul{list-style-type: none;}
.right ul li{padding-top: 10px;}
.right ul li a{color: black; 
	text-decoration: none;
	size: 10px;}
.right ul li a:hover{color: #f25d0c; font-weight: bold; }
.right ul li:hover{background: pink;}
.footer{width: 795px;
	height: 60px;
	background-color: #626262;}
.clr{clear: both;}
.danhmuc{background-image: url(image/menu_bar.gif); 
	width: 148px; 
	height: 26px; 
	text-align: center;
	padding-top: 4px;
	color: #fff;}
.main_bar1{background-image: url(image/main_bar_left.gif); 
	width: 480px; 
	height: 26px;
	color: #fff;
	padding-left: 4px;}
	.main_bar2{background-image: url(image/main_bar_right.gif); 
	width: 475px; 
	height: 26px;
	color: #fff;
	padding-left: 4px;}
