*{
	margin: 0;
	padding: 0;
}
.tong{
	width: 80%;
	margin: auto;
}
.anh{
	width: 20%;
	float: left;
	margin-left: 15px;
	padding-top: 30px;
	position: relative;
}
.anh:hover .content{
	display: inline-block;
}
h3{
	text-align: center;
	color: #adaeab
}
.content{
	width: 100%;
	height: 150px;
	background: #edeee6;
	position: absolute;
	top: 30px;
	display: none;
	text-align: center;
	opacity: 0.8;
}
h4{
	color: orange
}
p{
	color: #adaeab
}
@media screen and (max-width: 320px) {
	.tong{
	width: 80%;
	margin: auto;
}
.anh{
	width: 100%;
	margin-left: 15px;
	padding-top: 30px;
	position: relative;
}
.anh:hover .content{
	display: inline-block;
}
h3{
	text-align: center;
	color: #adaeab
}
.content{
	width: 100%;
	height: 150px;
	background: #edeee6;
	position: absolute;
	top: 30px;
	display: none;
	text-align: center;
	opacity: 0.8;
}
h4{
	color: orange
}
p{
	color: #adaeab
}
}
@media screen and (min-width: 321px) and (max-width: 860px){
	.tong{
	width: 80%;
	margin: auto;
}
.anh{
	width: 40%;
	float: left;
	margin-left: 25px;
	padding-top: 30px;
	position: relative;
}
.anh:hover .content{
	display: inline-block;
}
h3{
	text-align: center;
	color: #adaeab
}
.content{
	width: 100%;
	height: 150px;
	background: #edeee6;
	position: absolute;
	top: 30px;
	display: none;
	text-align: center;
	opacity: 0.8;
}
h4{
	color: orange;
}
p{
	color: #adaeab
}
}

