.header{
	background-image: url(img/bg-masthead.jpg);
	width: 100%
}
.menu ul{
	list-style-type: none;
	margin-top: 10px;
}
.menu ul li{
	display: inline;
	margin-left: 3%;
}
.menu ul li a{
	text-decoration: none;
	color: white;
}
.menu ul li a:hover{
	color: orange
}
#a{
	display: none;
}
#b{
	background: orange;
	border-radius: 10px;
	font-size: 10px;
	border: none;
}
#b:hover{
	background: #e56b42
}
#c{
	background: white;
	border-radius: 10px;
	font-size: 13px;
	border: none;
	margin-bottom: 70px;
}
#c:hover{
	background: #e56b42
}
.img{
	margin: 0;
}
#d{
	background: white;
	border-radius: 20px;
	border: none;
	margin-bottom: 100px
}
#d:hover{
	background: #e56b42
}
@media screen and (min-width: 768px) and (max-width: 991px){
	.menu{
		display: none;
	}
	#nd1{
		margin-left: 10%
	}
	#b{
		margin-left: -5%
	}
	#c{
		margin-left: -8%
	}
	#nd2{
		margin-left: 11%
	}
	#d{
		margin-left: -15%
	}
}
@media screen and (min-width: 576px) and (max-width: 767px){
	.menu{
		display: none;
	}
	#nd1{
		margin-left: 1%
	}
	#b{
		margin-left: -3%
	}
	#c{
		margin-left: -28%
	}
	#nd2{
		margin-left: 11%
	}
	#nd3{
		margin-left: 25%
	}
	#d{
		margin-left: -28%
	}
}
@media screen and (min-width: 460px) and (max-width: 575px) {
	.menu{
		display: none
	}
	#nd1{
		margin-left: 1%
	}
	#b{
		margin-left: -3%
	}
	#c{
		margin-left: -8%
	}
	#nd2{
		margin-left: -8%
	}
	#nd3{
		margin-left: 25%
	}
	#d{
		margin-left: -8%
	}
}
@media screen and (min-width: 375px) and (max-width: 459px) {
	.menu{
		display: none
	}
	#nd1{
		margin-left: 1%
	}
	#b{
		margin-left: -10%
	}
	#c{
		margin-left: -20%
	}
	#nd2{
		margin-left: -8%
	}
	#nd3{
		margin-left: 25%
	}
	#d{
		margin-left: -17%
	}
}
}
