* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
.all {
width: 600px;
margin: auto;
}
.header {
background-color: #f44336;
padding: 30px 40px;
color: white;
text-align: center;}
tr{
	  background: #f9f9f9;

}
.check
{
	width: 50px;
	height: 30px;
	text-align: center;
}
.nd{
	width: 800px;
	height: 30px;

}
.del{
		width: 50px; 
		height: 30px;
		text-align: center;
}
