*{
	margin: 0px;
	padding: 0px;
}
.tong{
	width: 70%;
	height: 150px;
}
.check{ 
	padding-left: 20px;
	padding-top: 15px;
	float: left;
}

.clr{
	clear: both;
}
.check_2{ 
	padding-left: 5px;
	padding-top: 0px;
	float: left;
}
a {
	text-decoration: none; 
	color: black;
}
a:hover{
	color: blue; 
	text-decoration: underline; 
	font-weight: bold;
}