*{ margin: 0px;
	padding: 0px; 
	}
.header{
	width: 800px;
	height: 100px;
	}
.header ul{ 
	list-style-type: none; 
	float: left; 
	padding-top: 2px;
	padding-left: 350px; 
	margin-top: 20px;
}
.header ul li{
	display: inline; 
	margin-left: 5px;}
.header ul li a{ text-decoration: none; 
	color: black; }
.header ul li a:hover{ color: #fff; font-weight: bold; }
.left{ width: 150px; 
	height: 550px;
 	float: left;}
.left ul{list-style-type: none; 
	padding-left: 15px;}
.left ul li{display: block; 
	margin-top: 5px;}
.left ul li a{ text-decoration: none; 
	color: grey; }
.left ul li a:hover{ color: black; font-weight: bold; }

.center{ 
	width: 650px;   
	float: left; 
	margin:10px;
}
.center1{
	position: relative;
	width: 170px;
	background: #DDDDDD; 
	float: left;
	margin-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.center1 a{ text-decoration: none; color: black;}
.center1 a:hover { color: orange; }
.content_1{ 
	width: 170px; 
	background: #DDDDDD; 
	border-radius: 5px;
	margin-top: 10px;
}

.content_2{width: 170px;
	border-radius: 5px;
	margin-top: 15px;
}
.content_3{ 
	width: 170px;
	border-radius: 5px;
	color: #fff;
	position: absolute; 
	bottom: 10px;
	bottom: 4px;
    background: black;
    opacity: 0.6;
    padding-bottom: 10px;
}

.center a { 
	background: #DDDDDD;
	border-radius: 12px; 
}
.center a:hover{ 
	background: orange; 
	font-weight: bold;
}
.clr{
	clear: both;
}
.footer{width: 800px; margin-left: 15px;}
.footer ul{list-style-type: none; float: left; margin-left: 10px;}
.footer ul li{display: inline; margin-left: 10px;}
.footer ul li a{color: blue}
.footer ul li a:hover{ color: orange; font-weight: bold; }
button:hover{background: orange;}