#menu{
width: 100%;
height: 40px;
background-color: #78b43d;
}
#menu li{
list-style: none;
float: left;
padding-left: 10px;
padding-right: 10px;
background-color: #78b43d;
height: 100%;
line-height: 40px;
border-right: 1px solid white;
position: relative;
}
#menu li a{
text-decoration: none;
color: #fff;
}
#menu li:hover a{
color:green;
}
#menu li:hover{
cursor: pointer;
background-color:#aad862;
}
.submenu{
display: none;
}
#menu li:hover .submenu{
display: block;
}

.submenu{
width: 200px;
position: absolute;
top:40px;
left:-40px;
}
.submenu li{
clear: both;
width: 200px;
border-right: none;
border-bottom: 1px solid green;
background: #aad862;
position: relative;
}
#submenu2{
	display: none;
}
.submenu li:hover #submenu2{
	display: inline;
}
#submenu2{
width: 200px;
position: absolute;
top: 0px;
left: 181px;
}
#submenu2 li{
clear: both;
width: 200px;
border-right: none;
border-bottom: 1px solid green;
background: #78b43d;
}
#submenu2 li:hover{
	cursor: pointer;
	background-color:#aad862;
}